@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav>ul li a {
    text-decoration: none;
    color: #131313;
}

.banner-content {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    color: #131313;
}

.btn-primary {
    color: #FFF;
    background-color: #FF800E;
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.banner img {
    width: 100%;
}

main,
.header-container {
    max-width: 1440px;
    margin: 0px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 3rem;
}

.gray {
    color: #727272;
    font-weight: 500;
}

.black {
    color: #131313;
    font-weight: 700;
}

.orange {
    color: #FF800E;
    font-weight: 700;
}

.title {
    font-size: 3rem;
}

.features-section {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features-image img {
    height: 90%;
    margin-left: 90px;
}

.features-section .title {
    border-left: 5px solid #FF800E;
    padding-left: 20px;
}

.features-content .card {
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.ten-years-badge {
    border-radius: 8px;
    background-color: #FF800E;
    color: #FFF;
    text-align: center;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0px;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border: 1px solid #FF800E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    font-size: 3rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

.sponsors-section {
    text-align: center;
}

.sponsors-image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.sponsors-image-container img {
    width: 165px;
}

footer {
    text-align: center;
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 10px;
    margin-top: 50px;
}

/* responsive styles */

@media screen and (max-width:576px) {
    header,
    .teams-content,
    .facts-section,
    .features-section {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-image-container,
    .features-section {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .features-image img {
        width: 100%;
        margin-left: 0px;
    }

    .ten-years-badge {
        position: static;
        max-width: 275px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    header,
    .facts-section,
    .sponsors-section {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }

    .features-image img {
        width: 100%;
        margin-left: 0px;
    }

    .sponsors-image-container img {
        width: 100px;
    }
}